[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moviepy = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pydrive2 = "*"
python-telegram-logger = "*"

[dev-packages]
pylint = "*"
black = "*"
pygame = "*"

[requires]
python_version = "3.10"
