[Unit]
Description=Watermark and upload videos automatically
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=60
User=root
ExecStart=bash /prj/startup.sh

[Install]
WantedBy=multi-user.target
